Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
stamp-h1
Makefile
zeked
libtool
*.la
.deps/
.libs/
.dirstamp
build/compile
build/config.*
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/ltsugar.m4
build/ltoptions.m4
build/ltversion.m4
build/lt~obsolete.m4
build/missing
include/zeke/libzeke_version.h
include/internal_config.h
*.dSYM/
